input {
    &.ng-invalid.ng-touched {
        border: 1px solid red;
    }

    &.ng-valid.ng-touched {
        border: 1px solid green;
    }
    // margin-bottom: 0.5rem;
}

small {
    color: red;
}