<div class="mainBlock">
    <div class=photo>
        <img [src]="photo" alt="Photo">
    </div>    

    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, veniam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, veniam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, veniam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, veniam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, veniam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, veniam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, veniam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, veniam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, veniam.</p>
    </div>    
</div>

