.loginForm {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // max-width: fit-content;
    // // margin-left: 40%;    
    // background-color: black;
    // color: #000;
}

input {
    &.ng-invalid.ng-touched {
        border: 1px solid red;
    }

    &.ng-valid.ng-touched {
        border: 1px solid green;
    }
    margin-bottom: 0.5rem;
}

h2 {
    align-self: center;
}