<nav class="navbar">
  <h2>
      <a routerLink="/">Amangeldy M</a>        
  </h2>
  <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/">About me</a></li>
      <li routerLinkActive="active"><a routerLink="/skills">Skills</a></li>
      <li routerLinkActive="active"><a routerLink="/projects">Projects</a></li>
      <li routerLinkActive="active"><a routerLink="/contacts">Contacts</a></li>
      <li><button class="btn" routerLink="/login">Login</button></li>
      <li><button class="btn">Logout</button></li>
  </ul>
</nav>

<router-outlet></router-outlet>