.comment-btn {
    position: relative;
}

.comment-form {
    position: static;
    width: 100%;
    margin: 0.7rem 0.7rem;
}

.comment-section {
    position: static;
}

.date {
    color: #fff;
    padding: 0.5rem;
    background-color: #797171;
    max-width: fit-content;
    position: fixed;
    bottom: 0;
    right: 0;
}



