/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP);


$navBarColor: #333333;
$mainColor: #999999;
$backgroundColor: #777777;
$btnColor: #555555;
$btnTextColor: #fff;
$textColor: #111111;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $textColor;  
}

body {
    font-family: 'Noto+Sans+JP', sans-serif;    
    font-size: 1rem;
    line-height: 1.6;
    // background-image: url('https://c.stocksy.com/a/eHP500/z9/1288834.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: $backgroundColor;
    color: rgb(51, 51, 51);
    height: 100%;

    // font-family: 'Poppins', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // min-height: 100vh;
    // font-size: 1.5rem;
    // background-color:#222222;
  }

.main {
    background-color: $mainColor;
    height: 100%;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 1rem;
}

.mainBlock {
  display: inline-block;
  width: 100%;
  position: static;
}

input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin: 0.5rem 0;
}

ul {
  list-style: none;
}

.content {
  position: static;
  margin: 0.7rem 0.7rem;
}

select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin: 1.2rem 0;
}

.card {
    padding: 1rem;
    border: #ccc 1px dotted;
    margin: 0.7rem 0;
    color: #000;
  }
  
.validation {
    color: red;
  }

label {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: .5rem;
}

button {
  margin: 0.5rem;
}

.btn {
  // background-color: #FA4659;
  background-color: $btnColor;
  color: $btnTextColor;
}

a:hover {
  color: #666;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  // background: #11998e;
  background: $navBarColor;
  color: #FFF8E5;

  ul {
    display: flex;
    align-items: center;

    li.active a {
      font-weight: bold;
      // color:rgb(61, 14, 105);
      // color: #38ef7d;
      color: #5d6159;
      cursor: default;
    }
  }

  a {
    color: #FFF8E5;
    padding: 0.45rem;
    margin: 0 0.25rem;
  }

  h2 {
    padding: 0;
  }

  button {
    margin: 0rem 0.5rem;
  }  
}

$primary: #11998e;
$secondary: #38ef7d;
$black: #000;
$gray: #4d4242;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
