
<div class="registerForm">
    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && submitRegistration()">
        
        <app-text-input [formControl]="this.registerForm.controls['name']" [label]="'Name'"></app-text-input>
        <app-text-input [formControl]="this.registerForm.controls['email']" [label]="'Email'"></app-text-input>
        <app-text-input [formControl]="this.registerForm.controls['password']" [label]="'Password'" [type]="'password'"></app-text-input>
        <app-text-input [formControl]="this.registerForm.controls['confirmPassword']" [label]="'Confirm password'" [type]="'password'"></app-text-input>
        <app-text-input [formControl]="this.registerForm.controls['position']" [label]="'Position'"></app-text-input>
        <app-text-input [formControl]="this.registerForm.get('address.country')" [label]="'Country'"></app-text-input>
        <app-text-input [formControl]="this.registerForm.get('address.city')" [label]="'City'"></app-text-input>

        <button class="btn btn-primary" type="submit" [disabled]="registerForm.invalid || registerForm.pending">Submit</button>
        <button class="btn btn-info" routerLink="/login">Back</button>

        <pre>{{registerForm.value | json}}</pre>

    </form>
</div>